.login-container {
    display:flex;
    align-items : center;
    justify-content: center;
    height:100vh;
    background-size: cover;
    background-position: center;
}

.login-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    height : 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.login-text {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.login-input {
    width: 90%;
    max-width: 400px;
    padding: 15px;
    margin: 10px 0;
    font-size: 16px;
    border: 2px solid #eecad5;
    border-radius: 8px;
    background-color: #fff;
    color: #333;
    transition: border-color 0.3s ease;
  }
  
  .login-input:focus {
    border-color: #da92a7;
    outline: none;
  }

.login-button {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(238, 202, 213);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    
}

.warning-text{
    color: red;
    font-size: 14px;
    margin-top: -20px;
    font-weight: bold;
}