.survey-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f6f9;
    font-family: Pretendard, sans-serif;
    color: #333;
    padding: 0 20px;
    text-align: center;
  }
  
  .survey-container h2 {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 600;
    color: #ad4363;
    text-align: center;
    letter-spacing: 1px;
  }
  
  .survey-container button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    background-color: #eecad5; 
    color: #ffffff; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(238, 202, 213, 0.5); 
    width: 200px;
  }
  
  .survey-container button:hover {
    background-color: #da92a7; 
    transform: translateY(-3px);
  }
  
  .survey-container button:active {
    background-color: #b36b81;
    transform: translateY(1px);
  }
  
  .survey-container button:focus {
    outline: none;
  }
  
  .survey-container div {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .survey-container .survey-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .survey-container .survey-buttons button {
    flex: 1;
    margin: 10px;
    min-width: 150px;
    max-width: 200px;
  }
  
  .styled-input {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: 10px 0;
    font-size: 16px;
    border: 2px solid #eecad5;
    border-radius: 8px;
    background-color: #fff;
    color: #333;
    transition: border-color 0.3s ease;
  }
  
  .styled-input:focus {
    border-color: #da92a7;
    outline: none;
  }
  